<% content_for :head  do %>
  <%#= javascript_include_tag 'admin' %>
  <%= javascript_include_tag 'business_intelligence/dashboard'%>
<%end%>


    <!-- Main content -->
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
         <%= render "top_barner" %>
       
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
  <section class="col-lg-7 connectedSortable">
           <%= render(:partial => "sales_chart" ,locals: {title: "Sales Report"}) %>
           <%= render(:partial => "energy_chart" ,locals: {title: "Energy Annual"}) %>


  </section>

   <section class="col-lg-5 connectedSortable">
        <%= render(:partial => "new_connection" ,locals: {title: "New Connections"}) %>
         <%= render(:partial => "line_chart",locals: {title: "Ims Indices"})%>
   </section>


          <!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
