


<% content_for :header do %>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Campaign Detail</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<%end%>
    <!-- Main content -->
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Campaign Details</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Broadcast Messages</span>
                      <span class="info-box-number text-center text-muted mb-0"><%= @campaign.broadcast_contacts.size %></span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Sent Successfully</span>
                      <span class="info-box-number text-center text-muted mb-0"><%= @campaign.broadcast_contacts.size - @campaign.failed_contacts.size %> </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Failed To Sent</span>
                      <span class="info-box-number text-center text-muted mb-0"><%= @campaign.failed_contacts.size %><span>
                    </div>
                  </div>
                </div>
              </div>

              <%= render "subscribers" %>
            </div>

            <%= render "details" %>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->


