<div class="page-header">
  <%= link_to new_organization_interface_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Organization interface
  <% end %>
  <h1>Listing organization_interfaces</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Interface</th>
            <th>Organization</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @organization_interfaces) do |organization_interface| %>
            <td><%= organization_interface.interface %></td>
            <td><%= organization_interface.organization %></td>
            <td><%= link_to 'Show', organization_interface %></td>
        <td><%= link_to 'Edit', edit_organization_interface_path(organization_interface) %></td>
        <td><%= link_to 'Destroy', organization_interface, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
