<%= form_for(@sms_manager_sms_channel, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @sms_manager_sms_channel.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@sms_manager_sms_channel.errors.count, "error") %> prohibited this sms_manager_sms_channel from being saved:</h4>

      <ul>
      <% @sms_manager_sms_channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :type, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :type, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shortcode, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :shortcode, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alphanumeric, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :alphanumeric, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :keyword, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :keyword, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :organization, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :organization, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
