<div class="page-header">
  <%= link_to new_setting_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Setting
  <% end %>
  <h1>Listing settings</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Ussd sms</th>
            <th>Prepaid token</th>
            <th>Postpaid token</th>
            <th>Find contractor</th>
            <th>Find employee</th>
            <th>Short code</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @settings) do |setting| %>
            <td><%= setting.ussd_sms %></td>
            <td><%= setting.prepaid_token %></td>
            <td><%= setting.postpaid_token %></td>
            <td><%= setting.find_contractor %></td>
            <td><%= setting.find_employee %></td>
            <td><%= setting.short_code %></td>
            <td><%= link_to 'Show', setting %></td>
        <td><%= link_to 'Edit', edit_setting_path(setting) %></td>
        <td><%= link_to 'Destroy', setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
